# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
.vscode/

# Build artifacts
*.exe
*.dll
*.pdb
*.so
*.dylib

# OS junk
.DS_Store
Thumbs.db

# Rider / Visual Studio
.idea/
*.sln
*.xcodeproj

